// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    &:link, :visited {
      color: inherit;
    }
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  footer {
    width: 100%;
    height: 101px;
    padding: 30px 0;
    font-size: 9px !important;
    text-align: center;
    color: #898D8C;
    background-color: #F7F9F9;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  input {
    outline: none;
  }
  button, input[type="submit"], input[type="button"] {
    font-size: 14px;
    padding: 0 12px;
    border-radius: 5px;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 5px;
  }
  #modal, .remodal {
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@include meyer-reset;
