.main-header {
  width: 100%;
  height: 102px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  &__inner-top {
    width: 940px;
    height: 30px;
    margin: 0 auto;
    padding: 13px 0;
    position: relative;
    align-items: center;
    display: flex;
    color: #007bff;
  }
  &__inner-bottom {
    width: 940px;
    height: 45px;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
}

.sign-in-buttons {
  position: absolute;
  top: 20px;
  right: 65px;
}

.category-tabs {
  color: #222;
  font-size: 13px;
  float: left;
  li {
    padding: 15px 13px;
    list-style: none;
    float: left;
    &:hover {
      border-bottom: 2px solid #222;
    }
  }
}

.trend-hashtags {
  height: 25px;
  margin: 10px;
  padding-left: 20px;
  float: left;
  border-left: 1px solid rgba(0,0,0,0.05);
  color: #898D8C;
  li {
    list-style: none;
    float: left;
    line-height: 25px;
    padding: 0 8px;
    margin-right: 20px;
    background-color: #F7F9F9;
    &:hover {
      background-color: #F2F4F4;
    }
  }
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #F7F9F9;
}
