@import 'mixin';

#likes-button-label {
  @include pos(absolute, 9px, 12px, auto, auto);
  @include color(white, $default-blue);
  padding: 5px 10px;
  border: 1px solid $default-blue;
  border-radius: 5px;
  font-size: 12px;
  cursor: default;
}

.main-header {
  @include wh(100%, auto);
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  &__inner-top {
    @include wh(940px, 30px);
    @include pm(13px 0, 0 auto);
    position: relative;
    align-items: center;
    display: flex;
    .new-note-button {
      @include pos(absolute, 12px, 0, auto, auto);
      @include color($default-blue, white);
      height: 30px;
    }
  }
  &__inner-bottom {
    @include wh(940px, 45px);
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
  &__sign-in-buttons {
    @include pos(absolute, 20px, 40px, auto, auto);
    color: $default-blue;
  }
  &__current-user-image {
    @include wh(30px, 30px);
    @include pos(absolute, 7px, 125px, auto, auto);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: 1px solid #F7F9F9;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
  }
  &__input {
    @include pos(absolute, auto, 182px, auto, auto);
    .search-box-icon {
      @include pos(absolute, 6px, 10px, auto, auto);
      color: #a1a6a9;
    }
  }
}

.user-tooltip {
  @include wh(200px, auto);
  @include pos(absolute, 38px, 0, auto, auto);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  display: none;
  z-index: 1;
  &__mypage {
    padding: 15px 20px;
    font-size: 11px;
    line-height: 18px;
    &:hover {
      color: $default-blue;
    }
  }
  &__separator {
    height: 2px;
    border-top: 1px solid #F7F9F9;
  }
  ul {
    font-size: 12px;
    padding: 10px 20px;
    line-height: 30px;
    li {
      &:hover {
        color: $default-blue;
      }
    }
  }
}

#search-box-input {
  width: 160px;
  border: 1px solid #ececec;
  border-radius: 100px !important;
  font-size: 11px;
  padding: 5px 30px 5px 10px
}

#search-result-box {
  @include pos(absolute, auto, auto, auto, auto);
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  z-index: 1;
  li {
    @include wh(178px, auto);
    padding: 5px 10px;
    display: -webkit-box;
    &:hover {
      background-color: #f8f9fa;
    }
    #search-result-box {
      border: 1px solid #ececec;
    }
    .image {
      @include wh(30px, 30px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      border: 1px solid #F7F9F9;
      border-radius: 30px;
    }
    .text {
      line-height: 30px;
      margin-left: 10px;
      overflow: hidden;
    }
  }
}

.main-container {
  background-color: #F7F9F9;
}

.note-list-container {
  @include wh(580px, 100%);
  margin: 0 auto;
  padding: 1px 0;
  background-color: #F7F9F9;
  &__content {
    @include pm(0 20px, 20px 0);
    background-color: white;
    border: 1px solid #E8ECEB;
  }
  &__header-image {
    @include wh(100%, 200px);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D9D9D9;
    margin: 20px 0;
  }
  &__user-name {
    @include wh(100%, auto);
    margin: 20px 10px;
    position: relative;
    display: flex;
  }
  &__profile-image {
    @include wh(40px, 40px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    border-radius: 40px;
    margin: 5px;
  }
  &__profile {
    padding: 7px;
    font-size: 12px;
    line-height: 16px; 
  }
  &__title {
    @include wh(100%, 50px);
    margin-bottom: 1.1em;
    font-size: 25px;
  }
  &__body {
    @include wh(100%, auto);
    margin-bottom: 50px;
    word-break: break-all;
  }
  &__action {
    @include wh(100%, 30px);
    margin-bottom: 20px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    line-height: 45px;
    font-size: 12px;
    position: relative;
  }
  &__favorite-action {
    display: flex;
    a:hover {
      color: #EDC500;
    }
  }
  &__view-count {
    margin-left: 20px;
    color: #898D8C;
  }
  &__comment-action {
    @include pos(absolute, auto, 0, auto, auto);
    color: $default-blue;
  }
}

.category-tabs {
  color: black;
  font-size: 13px;
  float: left;
  li {
    @include pm(15px 17px, 0);
    list-style: none;
    float: left;
    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.trend-hashtags {
  @include pm(0 0 0 20px, 10px);
  height: 25px;
  float: left;
  border-left: 1px solid rgba(0,0,0,0.05);
  color: #898D8C;
  li {
    @include pm(3px 12px, 0 20px 0 0);
    list-style: none;
    float: left;
    line-height: 20px;
    background-color: #F7F9F9;
    border-radius: 5px;
    &:hover {
      background-color: #EAECEC;
    }
  }
}

.draft-container {
  height: 100%;
  background-color: #F7F9F9;
  padding-bottom: 50px;
  &__draft {
    @include pm(0 20px, 20px 0);
    background-color: white;
    border: 1px solid #E8ECEB;
  }
  &__header-image {
    @include wh(100%, 200px);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D9D9D9;
    margin: 20px 0;
  }
  &__user-name {
    @include wh(100%, auto);
    margin: 20px 10px;
    position: relative;
    display: flex;
  }
  &__profile-image {
    @include wh(40px, 40px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    border-radius: 40px;
    margin: 5px;
  }
  &__profile {
    padding: 7px;
    font-size: 12px;
    line-height: 16px; 
  }
  &__title {
    @include wh(100%, 50px);
    margin-bottom: 1.1em;
    font-size: 25px;
  }
  &__body {
    @include wh(100%, auto);
    margin-bottom: 50px;
    word-break: break-all;
  }
  &__action {
    @include wh(100%, 30px);
    margin-bottom: 20px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    line-height: 45px;
    font-size: 12px;
    p {
      color: $default-blue;
    }
  }
}

.draft-container-wrapper {
  @include wh(580px, auto);
  margin: 0 auto;
  padding-top: 20px;
}

.hashtag-container {
  height: 100%;
  background-color: #F7F9F9;
  &__name {
    font-size: 30px;
  }
}

.hashtag-container-wrapper {
  @include wh(580px, auto);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.note-header {
  @include wh(100%, 48px);
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  text-align: center;
  &__logo {
    line-height: 60px;
  }
  &__buttons {
    @include pos(absolute, 6px, 15px, auto, auto);
    input, button {
      @include color(white, black);
      height: 35px;
      border: 1px solid #D9D9D9;
    }
  }
}

.note-container-wrapper{
  @include wh(auto, calc(100vh - 58px));
  background-color: white;
}

.note-container {
  @include wh(620px, auto);
  margin: 0 auto;
  padding-top: 10px;
  &__image-overlay {
    height: 100px;
    margin-top: 10px;
    line-height: 115px;
    text-align: center;
    cursor: pointer;
  }
  &__header-image {
    @include wh(630px, auto);
    opacity: .8;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
  }
  &__title {
    margin-top: 10px;
    input {
      @include wh(100%, 30px);
      resize: none;
      font-size: 25px;
    }
  }
  &__body {
    margin-top: 10px;
    textarea {
      @include wh(100%, 500px);
      resize: none;
      font-size: 15px;
    }
  }
}

.note-public-setting-wrapper {
  display: none;
}

.note-public-setting {
  width: 480px;
}

.note-public-setting-header {
  @include wh(auto, 50px);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-size: 20px;
  line-height: 48px;
  background-color: #f8f9fa;
}

.note-public-setting-container {
  font-size: 12px;
  &__sale-setting {
    text-align: initial;
    padding: 20px 30px;
  }
  &__detail-setting {
    @include pm(10px, 0 auto 20px);
    border: 1px solid #e1e5e7;
    border-radius: 5px;
    background-color: #f8f9fa;
    width: 400px;
  }
  #price-field {
    @include pos(absolute, 70px, 205px, auto, auto);
  }
}

.detail-setting {
  &__header {
    padding: 0 0 12px;
    margin-left: 10px;
    text-align: left;
  }
  &__container {
    border-top: 1px solid #e1e5e7;
  }
  &__hashtag-content {
    margin: 10px 0;
    display: flex;
    align-items: center;
    p {
      width: 100px;
      margin: 0 10px 0 5px;
    }
    #note-tags {
      width: 100%;
      background-color: white;
    }
  }
  &__magazine-content {
    display: flex;
    align-items: center;
    p {
      width: 100px;
      margin: 0 7px 0 5px;
      text-align: center;
    }
    .magazine-content-field {
      width: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid #e1e5e7;
      border-radius: 5px;
      &__checkbox {
        display: flex;
      }
    }
  }
}

.note-public-setting-footer {
  @include wh(auto, 50px);
  border-top: 1px solid rgba(0,0,0,0.05);
  background-color: #f8f9fa;
  font-size: 12px;
  &__buttons {
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    span {
      cursor: pointer;
    }
    input {
      @include color($default-blue, white);
      height: 30px;
      padding: 0 38px;
      line-height: 0;
    }
  }
}

.note-show-container {
  @include wh(100%, 100%);
  background-color: white;
  padding-bottom: 20px;
  &__header-image {
    @include wh(100%, 200px);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D9D9D9;
    margin-bottom: 40px;
  }
  &__user-name {
    @include wh(100%, 50px);
    margin-bottom: 30px;
    position: relative;
    display: flex;
  }
  &__profile-image {
    @include wh(40px, 40px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    border-radius: 40px;
    margin: 5px;
  }
  &__profile {
    padding: 7px;
    font-size: 12px;
    line-height: 16px;
  }
  &__setting-button {
    @include pos(absolute, 9px, 12px, auto, auto);
    @include color(white, $default-blue);
    height: 30px;
    border: 1px solid $default-blue;
  }
  &__title {
    @include wh(100%, 50px);
    margin-bottom: 1.1em;
    font-size: 25px;
  }
  &__body {
    @include wh(100%, auto);
    margin-bottom: 50px;
    word-break: break-all;
  }
  &__paywall {
    text-align: center;
    margin: 35px 0;
    padding: 20px 80px;
    border: 3px solid #e1e5e7;
    .paywall-text {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .paywall-count {
      font-size: 11px;
      color: #aaa;
    }
    .paywall-text-guide {
      font-size: 12px;
      font-weight: bold;
      margin-top: 30px;
      &:before {
        content: "";
        display: block;
        border-top: solid 1px #efefef;
        width: 100%;
        height: 1px;
        margin-bottom: -7px;
      }
      span {
        padding: 0 20px;
        background-color: white;
      }
    }
    .paywall-buy-box {
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 10px;
      margin: 20px 0 10px;
      border: 1px solid #efefef;
      background: #f8f9fa;
      text-align: left;
      &__info {
        margin-left: 10px;
      }
      &__image {
        @include wh(60px, 60px);
        border: 5px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
      }
      &__title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__nickname {
        font-size: 12px;
        margin-bottom: 7px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__price {
        font-size: 12px;
        font-weight: bold;
      }
      &__button {
        margin-left: auto;
        padding-left: 10px;
        border-left: 1px solid #efefef;
        button {
          @include color($default-blue, white);
          height: 30px;
          font-size: 12px;
          line-height: 1px;
        }
      }
    }
  }
  &__hashtags {
    @include wh(100%, auto);
    margin-bottom: 30px;
    color: #898D8C;
    font-size: 12px;
    display: flex;
    li {
      padding: 0 5px;
      margin-right: 10px;
      list-style: none;
      float: left;
      line-height: 25px;
      background-color: #F2F4F4;
      border-radius: 5px;
      &:hover {
        background-color: #EAECEC;
      }
    }
  }
  &__action {
    @include wh(100%, 30px);
    margin: 0 0 20px 10px;
    display: flex;
    color: #898D8C;
    a:hover {
      color: #EDC500;
    }
  }
  &__view-count {
    margin-left: 20px;
  }
  &__popular {
    @include wh(100%, 60px);
    padding: 15px 0 45px;
    border-top: 1px solid #e1e5e7;
    border-bottom: 1px solid #e1e5e7;
    line-height: 20px;
    li {
      font-size: 12px;
      list-style-type: initial;
    }
    p {
      margin-bottom: 10px;
      font-size: 12px;
    }
    ul {
      margin-left: 20px;
      font-weight: bold;
    }
  }
  &__pager {
    @include wh(100%, 30px);
    padding: 15px 0;
    border-bottom: 1px solid #e1e5e7;
    line-height: initial;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  &__pager-prev {
    @include wh(310px, auto);
    border-right: 1px solid #e1e5e7;
  }
  &__pager-next {
    @include wh(310px, auto);
    text-align: right;
  }
  &__pager-next-noprev {
    @include pos(absolute, auto, 0, auto, auto);
    @include wh(310px, auto);
    border-left: 1px solid #e1e5e7;
    text-align: right;
  }
  &__info {
    @include wh(100%, auto);
    padding: 20px 0;
  }
  &__info-profile-wrapper {
    display: inline-flex;
  }
  &__info-profile-image {
    @include wh(100px, 100px);
    margin: 0 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__info-container {
  }
  &__info-user-name {
    margin-bottom: 10px;
  }
  &__info-description {
    @include wh(190px, auto);
    font-size: 12px;
  }
  &__info-follow-button {
    margin-top: 15px;
  }
  &__comment {
    @include wh(100%, auto);
    margin-bottom: 30px;
    background-color: #f8f9fa;
  }
  &__comment-count {
    @include wh(auto, auto);
    padding: 15px 25px;
    font-size: 10px;
    background-color: #f8f9fa;
  }
  &__comment-list {
    @include wh(auto, auto);
    padding: 0 25px;
    font-size: 10px;
    background-color: #f8f9fa;
    li {
      display: flex;
      word-break: break-all;
      .comment-profile-image {
        @include wh(30px, 30px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        border-radius: 30px;
        margin: 5px 0;
      }
      .comment-container {
        padding: 7px;
        p {
          :hover {
            color: $default-blue;
          }
        }
        &__body {
          margin: 5px 0;
        }
      }
    }
  }
}

.note-show-container-wrapper {
  @include wh(620px, auto);
  margin: 0 auto;
  padding-top: 20px;
}