@import 'mixin';

#follow-button {
  @include color(white, $default-blue);
  border: 1px solid $default-blue !important;
  padding: 5px 10px;
}

#unfollow-button {
  @include color($default-blue, white);
  border: 1px solid $default-blue !important;
  padding: 5px 10px;
}
