@import 'mixin';

.user-header {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  &__inner-top {
    @include wh(940px, 30px);
    @include pm(13px 0, 0 auto);
    position: relative;
    align-items: center;
    display: flex;
  }
  &__inner-max-width-border {
    border-top: 1px solid rgba(0,0,0,0.05); 
  }
  &__inner-center {
    @include wh(940px, 160px);
    @include pm(13px 0, 0 auto);
    position: relative;
    align-items: center;
    display: flex;
  }
  &__inner-bottom {
    @include wh(940px, 60px);
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
}

.user-category-tabs {
  color: #222;
  font-size: 13px;
  float: left;
  li {
    padding: 23px;
    list-style: none;
    float: left;
    &:hover {
      border-bottom: 2px solid #222;
    }
  }
}

.user-profile-image {
  @include wh(170px, 100%);
  padding: 30px;
  img {
    @include wh(inherit, inherit);
  }
}

.user-profile-content {
  @include wh(100%, 100%);
  line-height: 55px;
  &--username {
    font-size: 22px;
  }
  &--description {
    line-height: normal;
  }
}

.user-container {
  @include wh(100%, 100vh);
  background-color: #F7F9F9;
}

.new-note-button {
  @include pos(absolute, 12px, 0, auto, auto);
  @include color($default-blue, white);
  height: 30px;
  cursor: pointer;
}

.setting-button {
  @include pos(absolute, 24px, 0, auto, auto);
  @include color($default-blue, white);
  height: 30px;
  cursor: pointer;
}

.follow-button {
  @extend .setting-button;
  @include color(white, $default-blue);
  border: 1px solid $default-blue !important;
}

.unfollow-button {
  @extend .setting-button;
}

.follow-stats {
  span {
    color: #898D8C;
    cursor: pointer;
    a {
      color: #222;
      font-weight: bold;
    }
    &:hover a {
      color: $default-blue;
    }
  }
}
