@import 'mixin';

.user-header {
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  &__inner-top {
    @include wh(940px, 30px);
    @include pm(13px 0, 0 auto);
    position: relative;
    align-items: center;
    display: flex;
  }
  &__inner-max-width-border {
    border-top: 1px solid rgba(0,0,0,0.05); 
  }
  &__inner-header-image {
    height: 300px;
    background-position: center;
  }
  &__inner-center {
    @include wh(940px, 160px);
    @include pm(13px 0, 0 auto);
    position: relative;
    align-items: center;
    display: flex;
  }
  &__inner-bottom {
    @include wh(940px, 60px);
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.05);
  }
}

.user-category-tabs {
  color: black;
  font-size: 13px;
  float: left;
  li {
    padding: 23px;
    list-style: none;
    float: left;
    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.user-profile-image {
  @include wh(170px, calc(100% - 30px));
  padding: 30px 30px 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.user-profile-content {
  @include wh(100%, 100%);
  margin: 20px;
  line-height: 55px;
  &--username {
    font-size: 22px;
  }
  &--description {
    line-height: normal;
  }
}

.user-container {
  @include wh(100%, auto);
  background-color: #F7F9F9;
}

.new-note-button {
  @include pos(absolute, 12px, 0, auto, auto);
  @include color($default-blue, white);
  height: 30px;
}

.setting-button {
  @include pos(absolute, 24px, 0, auto, auto);
  @include color($default-blue, white);
  height: 30px;
}

.follow-button {
  @extend .setting-button;
  @include color(white, $default-blue);
  border: 1px solid $default-blue !important;
}

.unfollow-button {
  @extend .setting-button;
}

.follow-stats {
  span {
    color: #898D8C;
    cursor: pointer;
    a {
      color: black;
      font-weight: bold;
    }
    &:hover a {
      color: $default-blue;
    }
  }
}

.user-edit-header {
  &__image-overlay {
    @include color(black, white);
    height: 300px;
    opacity: .8;
    line-height: 330px;
    text-align: center;
    cursor: pointer;
    p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__image-exists {
    height: 100%;
    background-position: center;
  }
  &__image-not-exists {
    height: 100%;
  }
}

.user-edit-container {
  @include wh(1010px, auto);
  margin: 20px auto;
  display: flex;
  justify-content: center;
  &__image-overlay {
    @include color(black, white);
    height: 110px;
    margin-top: 10px;
    opacity: .8;
    line-height: 115px;
    text-align: center;
    cursor: pointer;
    border-radius: 110px;
  }
  &__image {
    @include wh(110px, 110px);
    border-radius: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__inner {
    width: 900px;
  }
  &__nickname {
    margin: 10px;
    input {
      @include wh(100%, 20px);
    }
  }
  &__description {
    margin: 10px;
    textarea {
      @include wh(100%, 90px);
      resize: none;
    }
  }
  &__buttons {
    float: right;
    input, button {
      @include color($default-blue, white);
      height: 30px;
    }
  }
}